body {
  background: url(assets/landscape.png) no-repeat center center fixed;
  background-size:cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
div {
  width: calc(100vw-30px);
  height: 300px;
  margin-top: 100px;
  margin-bottom: 500px;
  align-content: center;
/*   box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;*/
   width: 90%;
  margin: 0 auto;
}
h1 {
text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -40px;
}
h1:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}
h2 {
  float: right;
  margin-right: 30px;
}